<div class="row border border-warning">
<!--CARTA-->    
<div class="col-9 border border-primary">
{{#each blogs}}
    <div class="card">
        <div class="card-header">{{title_blog}}</div>
        <div class="card-body">
            <div class="col-12">
            <img class="img-fluid border border-success img-blog mb-3" src="uploads/167102071_3390767434357482_5876993520648323065_n.jpg" alt="imagen de blog">
            </div>
            <p class="text-wrap">
            {{content_blog}}
            </p>
            <p class="text-wrap">{{>lorem20}}</p>
            </div>
        <div class="card-footer">footer</div>
    </div>
{{/each}}
</div>
<!--ASIDE-->
<div class="col-3 border border-danger">
    {{>elemtoaside}}
</div>
</div>