{{#each blogs}}
<div class="card bg-warning text-black shadow-lg">
    <div class="card-header ">titulo</div>
    <div class="card-body">
        <div class="col-12">
            <img class="img-fluid img-thumbnail img-thum rounded border rounded-circle border-danger" src="uploads/167102071_3390767434357482_5876993520648323065_n.jpg" alt="noticia">
        </div>
            <p class="text-truncate">{{title_blog}}</p>
        </div>
    <div class="card-footer">footer de la carta</div>
</div>
{{/each}}